doctype html
html
  head
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet', href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css")
    style
      include style.css
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script
      include script.js

  body
    .row
      .col-sm-10
      .col-sm-2
        button.btn.btn-primary.notify-btn(type='button', onclick='notifyBtnClicked()') Notify
        a(href='#')#admin_logout.pull-right
          span.glyphicon.glyphicon-log-out &nbsp;Logout
    h1 User Details
    table.table.table-bordered
      thead
        tr
          th Name
          th Email
          th Amount Due(in Rs.)
          th Action
          th
      tbody
        each foodie in foodies
          tr
            td= foodie.full_name
            td= foodie.email
            td= foodie.amount_due
            if foodie.amount_due != 0
              td
                button.btn.btn-primary.paid-btn(type='button', onclick='paidBtnClicked(' + foodie.serial_no + ', ' + foodie.amount_due + ')') Paid
            else
              td
            td
              button.btn.btn-primary.edit-btn(type='button', onclick='editBtnClicked(this, ' + foodie.serial_no + ')') Edit

    h1 Account Details
    table.table.table-bordered
      thead
        tr
          th Balance Amount
          th= admin.amount_received
    br
    h1 Details of Items Purchased
    table.table.table-bordered
      thead
        tr
          th Items
          th Description
          th Amount
          th
      tbody
        tr
          td
            select#multiple-fooditems(multiple='multiple')
              each item in foodstock
                option(value="#{item.fooditem}") #{item.fooditem}
          td
            input#description(type='text', name='description')
          td
            input.pull-right#amount(type='text', name='amount')
          td
            button.btn.btn-primary.purchase-btn(type='button', onclick='purchaseBtnClicked()') Purchase
        each fooditem in fooditems
          tr
            td= fooditem.items
            td= fooditem.description
            td= fooditem.amount
    h1 Foodstock Details
    table.table.table-bordered
      thead
        tr
          th Item
          th Action
      tbody
        each item in foodstock
          tr
            td= item.fooditem
            td
              button.btn.btn-primary.delete-foodstock-btn(type='button', onclick='deleteFoodstockBtnClicked(' + item.id + ')') Delete
        tr
          td
            input#foodstock_item(type='text', name='foodstock_item')
          td
            button.btn.btn-primary.add-foodstock-btn(type='button', onclick='addFoodstockBtnClicked()') Add
